$themes: (
  dark: (
    primary_color: #161617,
    text_color:#F2F2F2,
    header_color: #1C252D,
    header_text_color: #D9D9D9,
    icon_color: #8694A1,
    tab_text_color: #6c757d,
    button_text_primary:rgba(255, 255, 255, 0.866996),
    button_background_primary:#38434E,
    button_border_primary:#252C33,
    box_shadow_color:0px 4px 4px rgba(0, 0, 0, 0.25),
    text_shadow_color:1px 1px 2px rgba(0, 0, 0, 0.3),
    input_text_border:#1E6978,
    primary_button_background: #2F899C,
    date_picker_year_border:#C5D2DE,
    cmd_req_modal_title_bg:#445A6C,
    cmd_req_modal_title_txt:#D9D9D9,
    cmd_req_modal_dialog_content_bg:#38434E,
    cmd_req_modal_tb_bg:#38434E,
    cmd_req_modal_tb_txt:#D9D9D9,
    cmd_req_modal_attempting_label:#F2F2F2,
    landing_page_divider:#38434E,
    landingpage_tr_bg:#2F3841,
    landingpage_tb_txt:#D9D9D9,
    rowselectionbanner_bg:#1C252D,
    rowselectionbanner_btn_bg:#38434E,
    rowselectionbanner_btn_txt:rgba(255, 255, 255, 0.866996),
    datepicker_bg:#38434E,
    datepicker_txt:#999999,
    datepicker_today_bg:#3c5860,
    datepicker_today_txt:#fff,
    text_area_bg:#1C252D,
    filter_overlay_bg:#38434E,
    filter_search_input_bg:#1C252D,
    filter_checkbox_bg:#38434E,
    filter_checkbox_label_bg:#ffffff,
  ),
  light: (
    primary_color: #fdfdfd,
    text_color:#000000,
    header_color: #ffffff,
    header_text_color: #000000,
    icon_color: #000000,
    tab_text_color: #000000,
    button_text_primary:#000000,
    button_background_primary:#ffffff,
    button_border_primary:#fdfdfd,
    box_shadow_color:#fdfdfd,
    text_shadow_color:#fdfdfd,
    filter_overlay_bg:#fdfdfd,
    filter_search_input_bg:#3f4142,
    filter_checkbox_bg:#38434E,
    filter_checkbox_label_bg:#38434E,

  ),
  other: (
    primary_color: #000000
  ),
);

$museo_font: "Museo Sans";
$geinspira_font: "GE Inspira";