@import "../../../sass/var/global.scss";
@import "../../../sass/mixins/global.scss";

.datatable {
    .p-datatable {
        font-family: $museo_font;
        
        .p-checkbox .p-checkbox-box{
            background: transparent;
            border-radius: 2px;
            border-color: #8B9CAD;
            .p-checkbox-icon {
                transition-duration: 0.2s;
                color: #47ADC1;
                font-size: 13px;
                font-weight: bold;
            }
            }
        .p-datatable-thead {
            font-weight: 400;
            font-size: 11px;
            line-height: 15px;
          tr:first-child .p-column-title{
            margin:auto;
            font-size:13px;
            color:white;
           }

            .pi-filter-icon::before {
                content: url("../../../assets/images/filter-icon.svg");
              }
              .p-selection-column{
                .p-column-header-content{
                    justify-content: center;
                   
                }
              }
        }

        .p-datatable-thead>tr>th {
            @include themify($themes) {
                background-color: themed("primary_color");
                color: #999999;
            }
        }

        .p-datatable-tbody {
            font-weight: 300;
            font-size: 12px;
            line-height: 30px;
            color: #F2F2F2;
            tr{
                background: #1E1E1F;
                color: #F2F2F2;
            }
            tr.p-highlight {
                background: #20393D;
                color: #F2F2F2 !important;
            }
            .p-row-odd{
                background: #262627 !important;
            }
            .p-row-odd.p-highlight {
                background: #20393D !important;
                color: #F2F2F2 !important;
            }
        }
        .p-datatable-tbody > tr > td {
           padding: 0.375rem 0.75rem; 
        }
        &.p-datatable-gridlines {
            .p-datatable-tbody > tr > td {
            border-width: 0px 1px;
            border-color: #333333;
        }
        .p-datatable-thead > tr > th {
            border-width: 0px 1px;
            border-color: #333333;
        }
    }
    .p-sortable-column:not(.p-highlight):not(.p-sortable-disabled):hover {
        @include themify($themes) {
            background-color: themed("primary_color");
            color: #999999;
        }
    }
    .p-sortable-column.p-highlight:not(.p-sortable-disabled):hover {
        @include themify($themes) {
            background-color: themed("primary_color");
            color: #999999;
        }
    }
    }

    .p-dialog-footer {
        @include themify($themes) {
            background: themed("cmd_req_modal_tb_bg");
        }
        border-top: 0.1rem solid #1C252D !important;
        padding: 1.25rem 1.8rem 1rem 0rem !important;

        .footer-wrapper {
            .cancel-btn {

                background: linear-gradient(179.99deg, #445A6C 0%, #38434E 62.27%, #38434E 99.55%);
                border: 1px solid #283038;
                border-radius: 2px;
                height: 25px;
                font-weight: 600;
                font-size: 13px;
            }

            .action-btn {
                background: linear-gradient(180deg, #237B8C 0%, #1E6978 99.8%);
                border: 1px solid #1E6978;
                border-radius: 2px;
                height: 25px;
                font-weight: 600;
                font-size: 13px;
            }
        }
    }
}
.p-datatable-wrapper {
    overflow-y: hidden !important;
    overflow-x: scroll !important;
    &::-webkit-scrollbar {
      width: 6px;
      border-radius: 1px;
      background-color: rgba(12, 15, 18, 0.24);
    }
    &::-webkit-scrollbar-thumb {
      height: 100px;
      border: 2px solid transparent;
      background-clip: content-box;
      border-radius: 2.5px;
      background-color: rgba(12, 15, 18, 0.24);
    }
}  
button.p-column-filter-menu-button.p-link {
    box-shadow: none;
}

.p-column-filter-menu-button.p-link.p-column-filter-menu-button-open {
        background-color: transparent;
        box-shadow: none;
}
th.p-sortable-column.p-resizable-column.p-highlight {
    box-shadow: none;
}
.datatable .p-datatable .p-datatable-thead tr:first-child .p-column-title {
    margin: auto;
    font-size: 11px;
    color: white;
    font-weight: 700;
}
.p-datatable .p-sortable-column:focus {
    box-shadow: inset 0 0 0 0.15rem #161617;
    outline: 0 none;
}
.p-datatable .p-sortable-column:focus-visible {
    box-shadow: inset 0 0 0 0.15rem #161617;
    outline: 0 none;
}
.datatable .p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th {
    border-width: 0px 1px;
    border-color: #333333;
    background: #161617;
    box-shadow: none;
}



.datatable .table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 960px) {
    .datatable .table-header {
        align-items: flex-start;
    }
}

.datatable .product-image {
    width: 100px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.datatable .p-dialog .product-image {
    width: 150px;
    margin: 0 auto 2rem auto;
    display: block;
}

.datatable .confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 960px) {
    .datatable .p-toolbar {
        flex-wrap: wrap;
    }

    .datatable .p-toolbar .p-button {
        margin-bottom: 0.25rem;
    }

    .datatable .table-header {
        flex-direction: column;
    }

    .datatable .table-header .p-input-icon-left,
    .datatable .table-header input {
        width: 100%;
    }
}